<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:insert="fragments.html :: headerfiles">
</head>
<body>
	<header th:insert="fragments.html :: nav"></header>
	
	<div class="container">
	<h1 class="display-4 my-2 mt-4">Category</h1>
	<div class="row my-5">
          <div class="col-4">
             <div class="list-group" id="list-tab" role="tablist">
             <a class="list-group-item list-group-item-action"  data-toggle="list" href="#" th:href="@{/manager/category-form}" role="tab" aria-controls="Manage Category">Manage Category</a>
             <a class="list-group-item list-group-item-action"  data-toggle="list" href="#" th:href="@{/manager/product-form}" role="tab" aria-controls="Manage Product">Manage Product</a>
         </div>
       </div>
	   </div>
	</div>
	
    <div class="container">
	   <div class="row">
		<table class="table col-7 mt-3" >
			<thead>
				<tr>
					<th scope="col">Id</th>
					<th scope="col">Category Name</th>
					<th scope="col">Action</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="category : ${categoryList}">
					<th scope="row" th:text="${category.categoryId}"></th>
					<td th:text="${category.categoryName}"></td>
					<td>
						<a href="#" th:href="@{'/manager/updateCategory/'+ ${category.categoryId}}" 
						class="btn btn-primary">Update</a>
						<a href="#" th:href="@{'/manager/delete-Category/'+ ${category.categoryId}}" 
						class="btn btn-danger">Delete</a>
					</td>
				</tr>
			</tbody>
		</table>
		
			<div class="card" style="margin-left: 50px;">		
				<div class="card-block" style="padding: 24px;">
					<form th:action="@{/manager/add-category}" method="post">
						<fieldset >
							<div class="form-group">
								<label for="categoryName">Category Name</label> <input
									type="text" class="form-control" id="categoryName"
									name="categoryName" placeholder="Category Name">
							</div>

							<div class="form-actions" style="margin-top: 12px;">
								<button type="submit" class="btn btn-success">ADD</button>
							</div>
						</fieldset>
					</form>
				</div>
			</div>
	  </div>	
	</div>	
	
	 <footer class="sticky-footer mt-5 bg-gradient-primary" style="padding:50px;">
             <div class="container my-auto">
                    <div class="copyright text-center my-auto" style="color: white;">
                        <span><i class="fa fa-copyright" aria-hidden="true"></i> Book Shop Online </span>
                    </div>
             </div>
     </footer>
	
		
</body>


</html>