<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:insert="fragments.html :: headerfiles">
</head>
<body>
	<header th:insert="fragments.html :: nav"></header>
	<div class="container">
	<h1 class="display-4 my-2 mt-4">Product</h1>
	<div class="row my-5">
          <div class="col-4">
             <div class="list-group" id="list-tab" role="tablist">
             <a class="list-group-item list-group-item-action"  data-toggle="list" href="#" th:href="@{/manager/category-form}" role="tab" aria-controls="Manage Category">Manage Category</a>
             <a class="list-group-item list-group-item-action"  data-toggle="list" href="#" th:href="@{/manager/product-form}" role="tab" aria-controls="Manage Product">Manage Product</a>
         </div>
       </div>
	   </div>
	</div>

     <div class="container" >
			<div class="card">
			   <p class="mt-5" style="padding: 24px; font-size: 30px;" >Add Product</p>
				<div class="card-block" style="padding: 24px;">
					<form th:action="@{/manager/add-product}" method="post" enctype="multipart/form-data">
						<fieldset>
							<div class="form-group">
								<select class="custom-select" name="category">
									<option selected>Select Category</option>
									<option th:each="category : ${categoryList}" 
										th:value="${category.categoryId}"
										th:text="${category.categoryName}"></option>
								</select>
							</div>
							
							<div class="form-group">
								<label for="productName">Product Name</label> <input type="text"
									class="form-control" id="productName" name="productName"
									placeholder="Product Name">
							</div>

							<div class="form-group">
								<label for="productDescription">Product Description</label> <input type="text"
									class="form-control" id="productDescription" name="productDescription"
									placeholder="Product Description">
							</div>
							
							<div class="form-group">
								<label for="productPrice">Product Price</label> <input type="number"
									class="form-control" id="productPrice" name="productPrice"
									placeholder="Product Price">
							</div>
							
							<div class="form-group">
								<label for="productUnit">Product Unit</label> <input type="number"
									class="form-control" id="productUnit" name="productUnit"
									placeholder="Product Unit">
							</div>
							
							<div class="form-group">
								<label for="file">Product Image</label> <input type="file"
									class="form-control" id="file" name="file">
							</div>
							<div class="form-actions" style="margin-top: 12px;">
								<button type="submit" class="btn btn-success">ADD</button>
							</div>
						</fieldset>
					</form>
				</div>
			</div>
			
		<table class="table my-5" >
			<thead>
				<tr>
					<th scope="col">Id</th>
					<th scope="col">Image</th>
					<th scope="col">Book Name</th>
					<th scope="col">Description</th>
					<th scope="col">Price</th>
					<th scope="col">No. of Unit</th>
					<th scope="col">Action</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="product : ${productList}">
					<th scope="row" th:text="${product.productId}"></th>
					<td><img th:src="${product.image}" width="100px" height="100px"></td>
					<td th:text="${product.productName}" width="200px" height="50px"></td>
					<td th:text="${product.productDescription}" width="300px" height="50px"></td>
					<td th:text="${product.productPrice}"></td>
					<td th:text="${product.productUnit}"></td>
					<td>
					<a href="#"
						th:href="@{'/manager/updateProduct/'+ ${product.productId}}"
						class="btn btn-primary">Update</a>
					<a href="#"
						th:href="@{'/manager/delete-Product/'+ ${product.productId}}"
						class="btn btn-danger">Delete</a>
					</td>
				</tr>
			</tbody>
		</table>

	</div>
	
	 <footer class="sticky-footer mt-5 bg-gradient-primary" style="padding:50px;">
             <div class="container my-auto">
                    <div class="copyright text-center my-auto" style="color: white;">
                        <span><i class="fa fa-copyright" aria-hidden="true"></i> Book Shop Online </span>
                    </div>
             </div>
     </footer>

</body>
</html>