<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<head th:insert="fragments.html :: headerfiles">
</head>
<body>
	<header th:insert="fragments.html :: nav"></header>
	<div class="container">
	<h1 class="display-4 my-3">Your Cart!</h1>
		<div class="row">
			<ul class="list-group col-9">
				<li class="list-group-item d-flex justify-content-around">
					<span class="my-auto h6">Book Image</span> 
					<span class="my-auto h6">Book</span> 
					<span class="my-auto h6">Price</span> 
				</li>
			</ul>
			<ul class="list-group col-9" th:each="product : ${user.productList}">
				<li class="list-group-item d-flex justify-content-around">
					<img th:src="${product.image}" width="100px" height="100px"> 
					<span class="my-auto" th:text="${product.productName}" style="width:200px; height:100px"></span> 
					<span class="my-auto" th:text="'฿ '+${product.productPrice}" style="width:100px; height:100px"></span>
				</li>
			</ul>
			<ul class="list-group col-9">
				<li class="list-group-item d-flex justify-content-end">
					<span class="h6" th:text="'Total : '+${total}"></span>
				</li>
				<li class="list-group-item d-flex justify-content-end">
					<a href="#" type="button" class="btn btn-primary">Check Out</a>
				</li>
			</ul>
		</div>
	</div>
</body>
</html>